@import "variables";
@import "webfonts";
@import "nav";

// General
body {
    color: #2e2b00;
    background-color: #F8F8F8;
    font-family: "SocialLight", -apple-system, BlinkMacSystemFont, Helvetica, Roboto, Arial, sans-serif;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 40px;
    font-size: $font-body;
    line-height: 1.55em;
    padding: 0;
    letter-spacing: 0.02em;
    max-width: 100vw;
}

p {
    margin: 0 0 15px;
}

h1 {
    font-size: $font-subhead;
    text-align: left;
    font-weight: normal;
    line-height: 1.4em;
    margin: 0;
    span.spacer {
        margin-right: 20px;
    }
}

a {
    color: #2e2b00;
    text-decoration: none;
}


// Sections

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.text {
    flex: 1 1 auto;
    margin-top: 80px;
    max-width: 26em;
    a {
      text-decoration: none;
      border-bottom: 1px solid;
      &:hover {
        opacity: 0.6;
      }
    }
}


// Responsive

@media screen and (max-width: 800px) {
    $font-body: 18px;
    $font-head: 18px;
    $font-subhead: 16px;
  
    body {
      margin: 0 20px;
      font-size: $font-body;
    }
  
    h1 {
      font-size: $font-head;
      span.spacer {
        margin-right: 0;
      }
    }
  
    header {
      .menu a {
        font-size: $font-subhead;
        padding: 15px 20px 15px;
      }
    }
    
    .text {
      margin-top: 100px;
    }
  }