.nav {
    z-index: 10000;
    position: fixed;
    margin: 30px 40px 0;
    display: flex;
    left: 0;
    right: 0;
    height: 39px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .menu {
        display: flex;
        padding: 10px 0;
        top: 10px;
        right: 40px;
    }
    .menugroup {
        display: flex;
        padding: 0 5px 0 0;
        width: 0;
        opacity: 1;
        overflow: hidden;
        white-space: nowrap;
        transform: scale(0);
        transition: $transitionM;
        &.show {
            transform: scale(1);
            opacity: 1;
        }
    }
    a.menuitem {
        margin: 5px;
        @include button();
        white-space: nowrap;
    }

    .menuicon {
        @include button;
        display: flex;
        border-radius: 40px !important;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        margin: 5px 0;
        cursor: pointer;
        .bar {
            height: 2px;
            width: 16px;
            margin: 2px 2px;
            border-radius: 2px;
            background-color: #403c00;
            transition: $transitionS;
            &.twothird {
                width: 12px !important;
            }
            &.onethird {
                width: 8px !important;
            }
        }
    }
}


@media screen and (max-width: 800px) {
    .nav {
        margin: 30px 20px 0;
    }
}