@font-face {
  font-family: "SocialLight";
  src: url('./webfonts/ABCSocial-Light.woff2') format('woff2'), url('./webfonts/ABCSocial-Light.woff') format('woff');
}

@font-face {
  font-family: "SocialBook";
  src: url('./webfonts/ABCSocial-Book.woff2') format('woff2'), url(' ./webfonts/ABCSocial-Book.woff') format('woff');
}

