@font-face {
  font-family: "SocialLight";
  src: url("./webfonts/ABCSocial-Light.woff2") format("woff2"), url("./webfonts/ABCSocial-Light.woff") format("woff");
}

.nav {
  margin: 20px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  height: 38px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav h1 {
  margin: 0;
}

.nav h1 span.cities {
  margin-left: 20px;
}

.nav .menu {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 20px;
  right: 40px;
}

.nav .menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px 10px 0;
  font-size: 18px;
  line-height: 1;
  padding: 10px;
  background: rgba(173, 175, 182, 0.2);
  text-decoration: none;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  text-decoration: none;
}

.nav .menu:hover .menu-content {
  max-width: 500px;
}

.nav .menu-content {
  max-width: 0;
  -webkit-transition: max-width 1s linear;
  transition: max-width 1s linear;
  overflow: hidden;
}

body {
  color: #403c00;
  background-color: #7790b0;
  font-family: "SocialLight", -apple-system, BlinkMacSystemFont, Helvetica, Roboto, Arial, sans-serif;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 40px;
  font-size: 22px;
  line-height: 1.4em;
  padding: 0;
  letter-spacing: 0.02em;
  max-width: 100vw;
}

p {
  max-width: 28em;
  margin: 0 0 15px;
}

h1 {
  font-size: 18px;
  text-align: left;
  font-weight: normal;
  line-height: 1.4em;
  margin: 0 0 40px;
}

a {
  color: #403c00;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.intro {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-top: 20px;
}

.intro .button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
}

.intro .button-group a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px 10px 0;
  font-size: 18px;
  line-height: 1;
  padding: 10px;
  background: rgba(173, 175, 182, 0.2);
  text-decoration: none;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}

.intro .button-group a:hover {
  background: rgba(155, 155, 155, 0.2);
}

footer {
  margin: 40px 0;
}

footer .link-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .link-group a {
  margin: 0 5px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px 10px 0;
  font-size: 18px;
  line-height: 1;
  padding: 10px;
  background: rgba(173, 175, 182, 0.2);
  text-decoration: none;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}

footer .link-group a:hover {
  background: rgba(155, 155, 155, 0.2);
}

video {
  background-color: #7790b0;
  -o-object-fit: cover;
     object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: -100;
}

@media screen and (max-width: 800px) {
  body {
    margin: 0 20px;
    font-size: 18px;
  }
  h1 {
    font-size: 18px;
  }
  .button-group a,
  footer .link-group a {
    font-size: 16px;
  }
  header .menu a {
    font-size: 16px;
    padding: 15px 20px 15px;
  }
}
/*# sourceMappingURL=home.css.map */