@font-face {
  font-family: "SocialLight";
  src: url("./webfonts/ABCSocial-Light.woff2") format("woff2"), url("./webfonts/ABCSocial-Light.woff") format("woff");
}

body {
  color: #403c00;
  font-family: "SocialLight", -apple-system, BlinkMacSystemFont, Helvetica, Roboto, Arial, sans-serif;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 40px;
  font-size: 22px;
  line-height: 1.4em;
  padding: 0;
  letter-spacing: 0.02em;
  max-width: 100vw;
}

p {
  max-width: 28em;
  margin: 0 0 15px;
}

h1 {
  font-size: 18px;
  text-align: left;
  font-weight: normal;
  line-height: 1.4em;
  margin: 0 0 40px;
}

a {
  color: #403c00;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.nav {
  margin: 20px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  height: 60px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .menubtn {
  position: absolute;
  top: 20px;
  right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px 10px 0;
  font-size: 18px;
  line-height: 1;
  padding: 10px;
  background: rgba(173, 175, 182, 0.2);
  text-decoration: none;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}

.nav .menubtn a {
  margin: 0 10px;
  text-decoration: none;
}

.nav .menubtn:hover .menu-content {
  max-width: 500px;
}

.nav .menu-content {
  max-width: 0;
  -webkit-transition: max-width 1s linear;
  transition: max-width 1s linear;
  overflow: hidden;
}

.slidewrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.controls {
  z-index: 10;
  position: absolute;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.controls .prev {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  cursor: pointer;
}

.controls .prev .icon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 16px;
  height: 16px;
  background-image: url("/assets/cursor-left.svg");
}

.controls .prev .icon:hover {
  opacity: 0.1725;
}

.controls .next {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  cursor: pointer;
}

.controls .next .icon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 16px;
  height: 16px;
  background-image: url("/assets/cursor-right.svg");
}

.controls .next .icon:hover {
  opacity: 0.1725;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 20px 0 20px;
}

.slider .slide {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1200px;
  max-height: 90vh;
}

.slider .slide.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider .slide img {
  max-height: 100%;
  max-width: 100%;
}

@media screen and (max-width: 800px) {
  body {
    margin: 0 20px;
    font-size: 18px;
  }
  h1 {
    font-size: 18px;
  }
  .button-group a,
  footer .link-group a {
    font-size: 16px;
  }
  header .menu a {
    font-size: 16px;
    padding: 15px 20px 15px;
  }
}
/*# sourceMappingURL=images.css.map */