@font-face {
  font-family: "SocialLight";
  src: url("./webfonts/ABCSocial-Light.woff2") format("woff2"), url("./webfonts/ABCSocial-Light.woff") format("woff");
}

.nav {
  z-index: 10000;
  position: fixed;
  margin: 30px 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  right: 0;
  height: 39px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
  top: 10px;
  right: 40px;
}

.nav .menugroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 5px 0 0;
  width: 0;
  opacity: 1;
  overflow: hidden;
  white-space: nowrap;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 300ms cubic-bezier(0.65, 0, 0.35, 1);
  transition: all 300ms cubic-bezier(0.65, 0, 0.35, 1);
}

.nav .menugroup.show {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.nav a.menuitem {
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  text-decoration: none;
  line-height: 1;
  padding: 11px 10px 10px;
  height: 18px;
  background: rgba(173, 175, 182, 0.3);
  text-decoration: none;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  -webkit-transition: all 150ms cubic-bezier(0.65, 0, 0.35, 1);
  transition: all 150ms cubic-bezier(0.65, 0, 0.35, 1);
  white-space: nowrap;
}

.nav a.menuitem:hover {
  background: rgba(173, 175, 182, 0.4);
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.nav .menuicon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  text-decoration: none;
  line-height: 1;
  padding: 11px 10px 10px;
  height: 18px;
  background: rgba(173, 175, 182, 0.3);
  text-decoration: none;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  -webkit-transition: all 150ms cubic-bezier(0.65, 0, 0.35, 1);
  transition: all 150ms cubic-bezier(0.65, 0, 0.35, 1);
  display: flex;
  border-radius: 40px !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin: 5px 0;
  cursor: pointer;
}

.nav .menuicon:hover {
  background: rgba(173, 175, 182, 0.4);
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.nav .menuicon .bar {
  height: 2px;
  width: 16px;
  margin: 2px 2px;
  border-radius: 2px;
  background-color: #403c00;
  -webkit-transition: all 150ms cubic-bezier(0.65, 0, 0.35, 1);
  transition: all 150ms cubic-bezier(0.65, 0, 0.35, 1);
}

.nav .menuicon .bar.twothird {
  width: 12px !important;
}

.nav .menuicon .bar.onethird {
  width: 8px !important;
}

@media screen and (max-width: 800px) {
  .nav {
    margin: 30px 20px 0;
  }
}

body {
  color: #2e2b00;
  background-color: #f8f8f8;
  font-family: "SocialLight", -apple-system, BlinkMacSystemFont, Helvetica, Roboto, Arial, sans-serif;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 40px;
  font-size: 21px;
  line-height: 1.55em;
  padding: 0;
  letter-spacing: 0.02em;
  max-width: 100vw;
}

p {
  margin: 0 0 15px;
}

h1 {
  font-size: 18px;
  text-align: left;
  font-weight: normal;
  line-height: 1.4em;
  margin: 0;
}

h1 span.spacer {
  margin-right: 20px;
}

a {
  color: #2e2b00;
  text-decoration: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-top: 80px;
  max-width: 26em;
}

.text a {
  text-decoration: none;
  border-bottom: 1px solid;
}

.text a:hover {
  opacity: 0.6;
}

@media screen and (max-width: 800px) {
  body {
    margin: 0 20px;
    font-size: 18px;
  }
  h1 {
    font-size: 18px;
  }
  h1 span.spacer {
    margin-right: 0;
  }
  header .menu a {
    font-size: 16px;
    padding: 15px 20px 15px;
  }
  .text {
    margin-top: 100px;
  }
}

.slidewrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slidewrapper .controls {
  z-index: 10;
  position: absolute;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slidewrapper .controls .prev {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  cursor: w-resize;
}

.slidewrapper .controls .next {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  cursor: e-resize;
}

.slidewrapper .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 20px 0 20px;
}

.slidewrapper .slider .slide {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1200px;
  max-height: 80vh;
}

.slidewrapper .slider .slide.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slidewrapper .slider .slide img {
  max-height: 100%;
  max-width: 100%;
}
/*# sourceMappingURL=photostyles.css.map */