@import "base";

.subhead {
  margin: 80px 0 20px;
}

.project {
  margin: 0 0 80px;
  .slidewrapper {
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    .slider {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      // margin: 20px 0 20px;
      img {
        background-color: #fff;
        border-radius: 20px;
        max-height: 100%;
        max-width: 100%;
      }
    }
  }
}



.caption {
  display: flex;
  flex-direction: row;
  margin: 10px 0;

}

// Responsive

@media screen and (max-width: 800px) {

  .caption {
    flex-direction: column;
    .spacer {
      margin-bottom: 5px;
    }
  }

}
