@font-face {
  font-family: "SocialLight";
  src: url("./webfonts/ABCSocial-Light.woff2") format("woff2"), url("./webfonts/ABCSocial-Light.woff") format("woff");
}

@font-face {
  font-family: "SocialBook";
  src: url("./webfonts/ABCSocial-Book.woff2") format("woff2"), url(" ./webfonts/ABCSocial-Book.woff") format("woff");
}

.nav {
  z-index: 10000;
  position: fixed;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  top: 0;
  right: 0;
}

.nav .menugroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .menuitem {
  padding: 0;
  white-space: nowrap;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 300ms cubic-bezier(0.65, 0, 0.35, 1);
  transition: all 300ms cubic-bezier(0.65, 0, 0.35, 1);
}

.nav .menuitem.show {
  padding: 5px;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  width: auto;
}

.nav .menuitem a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  text-decoration: none;
  line-height: 1;
  padding: 11px 10px 10px;
  height: 18px;
  background: rgba(207, 207, 213, 0.3);
  text-decoration: none;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  -webkit-transition: all 150ms cubic-bezier(0.65, 0, 0.35, 1);
  transition: all 150ms cubic-bezier(0.65, 0, 0.35, 1);
}

.nav .menuitem a:hover {
  background: rgba(207, 207, 213, 0.4);
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.nav .label {
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  text-decoration: none;
  line-height: 1;
  padding: 11px 10px 10px;
  height: 18px;
  background: rgba(207, 207, 213, 0.3);
  text-decoration: none;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  -webkit-transition: all 150ms cubic-bezier(0.65, 0, 0.35, 1);
  transition: all 150ms cubic-bezier(0.65, 0, 0.35, 1);
  white-space: nowrap;
}

.nav .label:hover {
  background: rgba(207, 207, 213, 0.4);
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.nav .menuicon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  text-decoration: none;
  line-height: 1;
  padding: 11px 10px 10px;
  height: 18px;
  background: rgba(207, 207, 213, 0.3);
  text-decoration: none;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  -webkit-transition: all 150ms cubic-bezier(0.65, 0, 0.35, 1);
  transition: all 150ms cubic-bezier(0.65, 0, 0.35, 1);
  display: flex;
  border-radius: 40px !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin: 5px;
  cursor: pointer;
}

.nav .menuicon:hover {
  background: rgba(207, 207, 213, 0.4);
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.nav .menuicon .bar {
  height: 2px;
  width: 16px;
  margin: 2px 2px;
  border-radius: 2px;
  background-color: #403c00;
  -webkit-transition: all 150ms cubic-bezier(0.65, 0, 0.35, 1);
  transition: all 150ms cubic-bezier(0.65, 0, 0.35, 1);
}

.nav .menuicon .bar.twothird {
  width: 12px !important;
}

.nav .menuicon .bar.onethird {
  width: 8px !important;
}

.nav .menuicon:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  background: rgba(207, 207, 213, 0.3);
}

@media screen and (max-width: 800px) {
  .nav {
    padding: 15px;
  }
  .nav a.menuitem,
  .nav .menuicon,
  .nav .label {
    font-size: 16px;
  }
}

body {
  color: #2e2b00;
  background-color: #f7f6f4;
  font-family: "SocialLight", -apple-system, Arial, sans-serif;
  padding: 0;
  margin: 0 40px;
  font-size: 18px;
  line-height: 1.45em;
  padding: 0;
  letter-spacing: 0.01em;
  max-width: 100vw;
}

p {
  margin: 0 0 20px;
}

h1 {
  font-size: 18px;
  text-align: left;
  font-weight: normal;
  line-height: 1.2em;
  margin: 20px 0;
}

.spacer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
}

.spacer h1:first-of-type {
  margin: 20px 20px 20px 0;
}

.caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
}

.caption h1:first-of-type {
  margin: 20px 20px 20px 0;
}

a {
  color: #2e2b00;
  text-decoration: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100dvh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content {
  margin: 89px 0 0;
}

.content .text {
  max-width: 30em;
  margin: 0;
}

.content .text a {
  text-decoration: none;
  color: #007529;
  -webkit-transition: all 150ms cubic-bezier(0.65, 0, 0.35, 1);
  transition: all 150ms cubic-bezier(0.65, 0, 0.35, 1);
}

.content .text a:hover {
  opacity: 0.6;
}

.link-group {
  margin: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
  margin-left: -5px;
}

.link-group a {
  margin: 5px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  text-decoration: none;
  line-height: 1;
  padding: 11px 10px 10px;
  height: 18px;
  background: rgba(207, 207, 213, 0.3);
  text-decoration: none;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  -webkit-transition: all 150ms cubic-bezier(0.65, 0, 0.35, 1);
  transition: all 150ms cubic-bezier(0.65, 0, 0.35, 1);
}

.link-group a:hover {
  background: rgba(207, 207, 213, 0.4);
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

@media screen and (max-width: 800px) {
  body {
    margin: 0 20px;
    font-size: 16px;
  }
  h1 {
    font-size: 16px;
  }
  .content {
    margin: 22px 0;
  }
  .spacer, .caption {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 15px;
  }
  .spacer h1, .caption h1 {
    margin: 0;
  }
  .spacer h1:first-of-type, .caption h1:first-of-type {
    margin: 0;
  }
  .link-group a {
    font-size: 16px;
  }
}

.project {
  margin: 40px 0;
}

.project .slidewrapper {
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project .slidewrapper .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.project .slidewrapper .slider img {
  background-color: #fff;
  border-radius: 20px;
  max-height: 100%;
  max-width: 100%;
}

@media screen and (max-width: 800px) {
  .caption {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .caption .spacer {
    margin-bottom: 5px;
  }
}
/*# sourceMappingURL=productdesignstyles.css.map */