@import "base";


.project {
  margin: 40px 0;
  .slidewrapper {
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    .slider {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      img {
        background-color: #fff;
        border-radius: 20px;
        max-height: 100%;
        max-width: 100%;
      }
    }
  }
}



// Responsive

@media screen and (max-width: 800px) {

  .caption {
    flex-direction: column;
    .spacer {
      margin-bottom: 5px;
    }
  }

}
