@import "base";

// Sections

.slidewrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .controls {
    z-index: 10;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    .prev {
      height: 100%;
      width: 50%;
      display: flex;
      justify-content: flex-start;
      cursor: w-resize;
    }
    .next {
      height: 100%;
      width: 50%;
      display: flex;
      justify-content: flex-end;
      cursor: e-resize;
    }
  }
  .slider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px 0 20px;
    .slide {
      display: none;
      justify-content: center;
      align-items: center;
      height: 1200px;
      max-height: 80vh;
      &.show {
        display: flex;
      }
      img {
        max-height: 100%;
        max-width: 100%;
      }
    }
  }
}

// Responsive

@media screen and (max-width: 800px) {

}
