@import "base";

.link-group {
  margin: 40px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
  margin-left: -5px;
  a {
    margin: 5px;
    text-decoration: none;
    @include button();
  }
}

video.bg,
img.bg {
  background-color: #7790b0;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: -100;
}


@media screen and (max-width: 800px) {

  .link-group {
    margin: 40px 0 20px;
    .links {
      margin:10px 0 0 -5px;
    }
  }
}

