@import "base";

.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  h1 {
    margin: 0;
  }
}

.container {
  justify-content: space-between;
}


video.bg,
img.bg {
  background-color: #7790b0;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: -100;
}


@media screen and (max-width: 800px) {



}

