@import "variables";
@import "webfonts";
@import "nav";

// General
body {
  color: #403c00;
  background-color: #fff;
  font-family: "SocialLight", -apple-system, BlinkMacSystemFont, Helvetica, Roboto, Arial, sans-serif;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 40px;
  font-size: $font-body;
  line-height: 1.4em;
  padding: 0;
  letter-spacing: 0.02em;
  max-width: 100vw;
}

p {
  max-width: 30em;
  margin: 0 0 15px;
}

h1 {
  font-size: $font-subhead;
  text-align: left;
  font-weight: normal;
  line-height: 1.4em;
  margin: 0;
}

a {
  color: #403c00;
}

// Sections

.slidewrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .controls {
    z-index: 10;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    .prev {
      height: 100%;
      width: 50%;
      display: flex;
      justify-content: flex-start;
      cursor: w-resize;
    }
    .next {
      height: 100%;
      width: 50%;
      display: flex;
      justify-content: flex-end;
      cursor: e-resize;
    }
  }
  .slider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px 0 20px;
    .slide {
      display: none;
      justify-content: center;
      align-items: center;
      height: 1200px;
      max-height: 80vh;
      &.show {
        display: flex;
      }
      img {
        max-height: 100%;
        max-width: 100%;
      }
    }
  }
}

// Responsive

@media screen and (max-width: 800px) {
  $font-body: 18px;
  $font-head: 18px;
  $font-subhead: 16px;

  body {
    margin: 0 20px;
    font-size: $font-body;
  }

  h1 {
    font-size: $font-head;
  }

  .button-group a,
  footer .link-group a {
    font-size: $font-subhead;
  }

  header {
    .menu a {
      font-size: $font-subhead;
      padding: 15px 20px 15px;
    }
  }
}
