<footer>
  <div class="link-group">
    {{ range .Params.biolinks }}
    <a target="_blank" href="{{ .linkurl }}">{{ .linktitle }}</a>
    {{ end }}
  </div>
</footer>

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

<script type="text/javascript" src="../js/nav.js"></script>   
<script type="text/javascript" src="../js/slider.js"></script>   

</body>
</html>
