<div class="nav">
  <h1><span class="spacer">{{ .Params.name }}</span></h1>

  <div class="menu">
    <a href="" class="menuitem label">{{ .Params.pagetitle }}</a>
    <div class="menugroup">
      {{ range where (where .Site.Pages "Params.pagetitle" "!=" .Params.pagetitle) "Params.navitem" true }} 
      <a class="menuitem" href="/{{ .Params.pageurl }}">{{ .Params.pagetitle }}</a>
      {{ end }}
    </div>
    <div class="menuicon">
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </div>

</div>
