<div class="nav">
  <h1>{{ .Params.name }} <span class="cities">{{ .Params.location }}</span></h1>

  <!-- <div class="menu">
    <div class="menugroup">
      <a href="" class="menuitem">{{ .Params.pagetitle }}</a>
      {{ range where (where .Site.Pages "Params.pagetitle" "!=" .Params.pagetitle) "Params.navitem" true }}
      <a class="menuitem" href="/{{ .Params.pageurl }}">{{ .Params.pagetitle }}</a>
      {{ end }}
    </div>
    <div class="menuicon">
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </div> -->

</div>
