{{ partial "head.html" . }}

<video autoplay loop muted playsinline class="bgVid" poster="static/{{ .Params.bgplaceholder }}">
  <source src="{{ .Params.bgvideo }}" type="video/mp4">
</video>

<div class="container">

  <header>
    <div class="text">
      <h1>{{ .Params.name }} <span class="cities">{{ .Params.location }}</span></h1>
      {{ .Params.bio }}
      <div class="button-group">
        {{ range .Params.buttongroup }}
        <a href="{{ .Params.linkurl }}">{{ .Params.linktitle }}</a>
        {{ end }}
      </div>
    </div>

    <footer>
      <div class="link-group">
        <a target="_blank" href="mailto:mail@owendodd.com">Email</a>
        <a target="_blank" href="https://www.instagram.com/owendodd">Instagram</a>
        <a target="_blank" href="https://www.are.na/owen-dodd/">Are.na</a>
        <a target="_blank" href="https://read.cv/owendodd">Read.CV</a>
      </div>
    </footer>

  </header>

</div>

{{ partial "footer.html" . }}