{{ partial "head.html" . }}

<video autoplay loop muted playsinline class="bgVid" poster="static/{{ .Params.background.bgplaceholder }}">
  <source src="{{ .Params.background.bgvideo }}" type="video/mp4">
</video>

<div class="container">

  <header>
    <div class="text">
      <h1>{{ .Params.name }} <span class="cities">{{ .Params.location }}</span></h1>
      <p>{{ .Params.bio }}</p>
      <div class="button-group">
        {{ range .Params.buttongroup }}
        <a href="{{ .Params.buttongroup.linkurl }}">{{ .Params.buttongroup.linktitle }}</a>
        {{ end }}
      </div>
    </div>

      <footer>
        <div class="link-group">
          {{ range .Params.biolinks }}
          <a target="_blank" href="{{ .Params.biolinks.linkurl }}">{{ .Params.biolinks.linktitle }}</a>
          {{ end }}
        </div>
      </footer>

  </header>

</div>

{{ partial "footer.html" . }}