{{ partial "head.html" . }}

<div class="container">

  {{ partial "nav.html" . }}

  {{ range .Params.imageprojects }}

  <div class="slidewrapper">

    <div class="controls">
      <div class="prev"></div>
      <div class="next"></div>
    </div>

    <div class="slider">
      {{ range .images }}
      <div class="slide">
        <img src="/{{ .imagefile }}">
      </div>
      {{ end }}
    </div>

  </div>

  <div class="text">
    <div class="caption">{{ .Params.caption }}</div>

  </div>

  {{ end }}

</div>

{{ partial "footer.html" . }}