{{ partial "head.html" . }}

{{ partial "nav.html" . }}

<div class="container">


    <div class="content">
        <div class="text">
            <div class="spacer">
                <h1>Owen Dodd</h1>
                <h1>{{ .Params.subhead }}</h1>
            </div>
            <div>{{ .Params.intro | markdownify }}</div>
        </div>
    </div>

    {{ range .Params.projects }}

    <div class="project">
        <div class="slidewrapper">

            <div class="slider">
                {{ range .images }}
                <div class="slide">
                    <img src="/{{ .imagefile }}">
                </div>
                {{ end }}
            </div>

        </div>

        <div class="caption">
            <h1>{{ .client }}</h1>
            <h1>{{ .desc }}</h1>
        </div>
    </div>

    {{ end }}

    <div class="link-group">
        {{ range .Params.biolinks }}
        <a target="_blank" href="{{ .linkurl }}">{{ .linktitle }}</a>
        {{ end }}
      </div>

</div>

{{ partial "footer.html" . }}