{{ partial "head.html" . }}

<div class="container">

    {{ partial "nav.html" . }}

    <div class="text">
        <div>{{ .Params.intro | markdownify }}</div>
    </div>


    <h1>Selected work</h1>

    {{ range .Params.projects }}

    <div class="project">
        <div class="slidewrapper">

            <div class="slider">
                {{ range .images }}
                <div class="slide">
                    <img src="/{{ .imagefile }}">
                </div>
                {{ end }}
            </div>

        </div>

        <div class="caption">
            <div class="client">{{ .Params.client }}</div>
            <div class="client">{{ .Params.desc }}</div>
        </div>
    </div>

    {{ end }}

</div>

{{ partial "footer.html" . }}